@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

/*CSS 樣式重置*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	color: #fff;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	/* font-family: "PingFang TC", "Microsoft Jenghei","sans-serif"; */
	font-family: "Roboto", source-han-sans-traditional, "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei" , "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5;

}

*,*::before,*::after{
	box-sizing: border-box;
  }

/* font-family: 'Noto Sans TC', sans-serif; */
/* font-family: source-han-sans-traditional, sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-weight: 400; Regular */
/* font-weight: 500; Medium */
/* font-weight: 700; Bold */
/* font-weight: 900; Black */

.pb-0_5 {
	padding-bottom: 4px;
}

.mb-2 {
	margin-bottom: 16px;
}

.pb-2 {
	padding-bottom: 16px;
}

.pb-4 {
	padding-bottom: 32px;
}

.pr-6 {
	padding-right: 48px;
}

.pr-8 {
	padding-right: 64px;
}

.subTitle {
	padding-top: 60px;
	text-align: center;
	font-weight: 700;
	color: #650300;
	font-size: 48px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header, .footer {
	background: #AA0601;
	justify-content: space-between;
}

.header {
	display: flex;
	padding :30px 88px;
}

.header-Logo  {
	display: block;
}

.header-Logo a {
	display: block;
	background: url(../images/logo.png) no-repeat;
	background-size: contain;
	width: 80px;
	height: 48px;
	text-indent: 100%; 
	white-space: nowrap; 
	overflow: hidden;
}

.header-Menu {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

.header-Menu li {
	padding-right: 64px;
}

.header-Logo a:hover,
.header-Menu a:hover,
.footer-Link-Menu a:hover,
.footer-Contact a:hover,
.footer-Copyright-List a:hover,
.footer-Link-Social a:hover {
	-webkit-filter:brightness(.8);
	transition: .3s;
}


.banner {
	background: url(../images/banner.png) no-repeat center center;
	background-size:cover;
}

.banner-Text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: #650300;
	font-size: 36px;
	justify-content: center;
	height: 840px;
}

.banner-Text p {
	font-weight: 700;
	font-size: 64px;
}


.service {
	background: #AA06010D;
}

.service-Cards {
	display: flex;
	justify-content: space-between;
	padding-top: 48px;
	padding-bottom: 80px;
	flex-wrap: wrap;
	
}

.service-Cards-Img {
	display: flex; /*讓圖片置中*/
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

.service-Cards li {
	width: 255px;
}

.service-Cards h3 {
	color: #650300;
	font-size: 24px;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 8px;
	font-weight: 700;
}

.product-Classic-Content,
.product-Cobrand-Cards,
.customerRec {
	display: flex;
	padding-top: 40px;
	padding-bottom: 80px;
}

.product-Classic-Content-Image img {
	width: 635px;
	height: 320px;
}

.product-Classic-Content {
	flex-direction: column;
	justify-content: center;
}

.product-Classic-Content h3 {
	font-family: "Roboto";
	font-style: italic;
	font-size: 48px;
	text-transform: uppercase;
	color: #AA0601;
	font-weight: 900;
	padding: 0 30px;
}

.product-Classic-Content li {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-Classic-Content li:nth-child(2) {
	flex-direction: row-reverse;
}

.product-Classic-Content li:nth-child(-n+2){
	padding-bottom: 32px;
}

.product-Classic-Content li h3 span{
	padding-right: 10px;
}


.product-Cobrand {
	background: url(../images/bg.png) center center;
	background-size: cover;
}


.product-Cobrand-Cards span {
	color: #AA0601;
	font-size: 72px;
	font-weight: 700;
	position: relative;
	top: 280px;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.product-Card-Size {
	height: 450px;
	width: 540px;
	opacity: 0.4;
}

.product-Cobrand-Card1 {
	background: url(../images/product-8.png)  no-repeat;
	background-size: cover;
	margin-right: 30px;
}

.product-Cobrand-Card2 {
	background-image: url(../images/product-9.png);
	background-size: cover;
}

.whiteTitle {
	color: #fff;
}

.customerRec {
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.customerRec-Cards {
	width: 250px;
	margin-right: 30px;
	box-shadow: 5px 5px 5px gainsboro;
}

.customerRec-Cards img {
	display: block;
	height: 256px;
	width: 250px;
}

.card-Content {
	padding: 16px;
	height: 204px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-Content h3 {
	font-size: 14px;
}

.card-Content-Specs h3{
	font-weight: 500;
	padding-bottom: 8px;
}

.blackTitle {
	color: #000;
}

.contact {
	background: #AA06010D;
}

.contact-Form {
	width: 730px;
	margin: 0 auto;
}

.contact-Form p {
	padding-top: 24px;
	padding-bottom: 20px;
	font-size: 20px;
}

.contact-Form input[type="text"],.contact-Form textarea {
	width: 710px;
	height: 50px;
	padding-left: 16px;
	background: #AA06010D;
	border: 1px solid #000;
}

.contact-Form textarea {
	padding-top: 12px;
	height: 136px;
	resize: none;
}


.contact-Btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-Form-btn {
	font-family: "Noto Sans TC";
	font-weight: 700;
	background: #AA0601;
	color: #fff;
	padding: 16px 143px;
	margin-top: 40px;
	margin-bottom: 80px;
	text-align: center;
	cursor: pointer;
}

.contact-Form-btn:hover {
	-webkit-filter:brightness(.8);
}

.footer-Link {
	display: flex;
	justify-content: space-between;
	padding-top: 32px;
	padding-bottom: 24px;
}

.footer-Link-Menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 464px;
}

.footer-Link-Social {
	display: flex;
	justify-content: space-between;
	flex-basis: 208px;
}

.footer-Contact {
	padding-bottom: 24px;
	border-bottom: 1px solid #fff;
	font-size: 36px;
}

.footer-Contact li{
	display: flex;
	align-items: center;
}

.footer-Contact :nth-child(1) {
	padding-bottom: 22px;
}

.footer-Contact img{
	padding-right: 22px;
}

.footer-Copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 32px;
	padding-bottom: 39px;
}

.footer-Copyright h4 {
	color: #fff;
}

.footer-Copyright-List {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}


@media (max-width: 992px) {
	.container {
		width: 690px;
	}

	.subTitle {
		padding-top: 40px;
		font-size: 32px;
	}

	.header-Menu li {
		padding-right: 40px;
	}	

	.banner {
		background: url(../images/banner-sm.png) no-repeat center center;
		background-size: cover;
	}

	.banner-Text {
		font-size: 20px;
	}
	
	.banner-Text p {
		font-size: 48px;
	}

	.service-Cards {
		padding-top: 40px;
		padding-bottom: 56px;
		justify-content: space-around;
	}

	.product-Classic-Content,
	.product-Cobrand-Cards,
	.customerRec {
		padding-top: 32px;
		padding-bottom: 56px;
	}
	
	.product-Classic-Content-Image img {
		width: 390px;
		height: 168px;
	}
	
	.product-Classic-Content {
		align-items: flex-start;
	}
	
	.product-Classic-Content h3 {
		font-size: 28px;
	}

	.product-Classic-Content li h3 span {
		padding-right: 8px;
	}
	
	.product-Classic-Content li:nth-child(2) {
		flex-direction: row;
	}
	
	.product-Classic-Content li:nth-child(-n+2){
		padding-bottom: 8px;
	}

	.product-Cobrand-Cards span {
		font-size: 32px;
		top: 180px;
	}

	.product-Card-Size {
		height: 278px;
		width: 330px;
	}
	
	.customerRec-Cards {
		width: 330px;
		margin-top: 32px;
		margin-right: 30px;
	}

	.customerRec-Cards:nth-child(2n) {
		margin-right: 0px;
	}
	
	.customerRec-Cards img {
		width: 330px;
	}

	.contact-Form {
		width: 450px;
	}
	.contact-Form p {
		font-size: 16px;
		padding-bottom: 16px;
	}

	.contact-Form input[type="text"],.contact-Form textarea {
		width: 450px;
		height: 36px;
		padding-left: 12px;
	}

	.contact-Form textarea {
		padding-top: 8px;
		height: 100px;
	}
	
	.footer-Contact {
		font-size: 20px;
	}

	.footer-Contact :nth-child(1) {
		padding-bottom: 12px;
	}
	
	.footer-Contact img{
		padding-right: 8px;
	}
	
	.footer-Link-Social {
		flex-basis: 136px;
	}

	.footer-Link-Social img {
		height: 24px;
		width: 24px;
	}
}


@media (max-width: 767px) {

	.container {
		width: 345px;
	}

	.subTitle {
		padding-top: 30px;
		font-size: 20px;
	}

	.product-Classic-Content,
	.product-Cobrand-Cards,
	.customerRec {
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.header {
		flex-direction: column;
		align-items: center;
		border: 1px solid #fff;
		padding: 0;
		padding-top :10px;
	}

	.header-Logo {
		height: 50px;
		line-height: 500px;
	}
	
	.header-Logo a {
		width: 48px;
		height: 50px;
	}
	
	.header-Menu {
		flex-wrap: wrap;
		text-align: center;
		width: 100%;
		justify-content: center;
	}
	
	.header-Menu li a  {
		display: block;
	}

	.header-Menu li {
		padding: 8px 0px;
		height: 45px;
		width: 50%;
		border: 1px solid #fff;
		border-bottom:none;
	}


	.banner-Text {
		font-size: 16px;
		height: 394px;
	}
	
	.banner-Text p {
		font-size: 32px;
	}

	.service-Cards {
		height: 1100px;
		padding-top: 32px;
		padding-bottom: 40px;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.product-Classic-Content-Image img {
		width: 345px;
		height: 134px;
	}

	.product-Classic-Content h3 {
		padding: 0;
		position: absolute;
	}

	.product-Cobrand-Cards {
		flex-direction: column;
		align-items: center;
	}

	.product-Cobrand-Cards span {
		position: relative;
	}
	
	.product-Card-Size {
		width: 345px;
		height: 290px;
	}
	
	.product-Cobrand-Card1 {
		margin-right: 0;
		margin-bottom: 16px;
	}

	
	.customerRec-Cards {
		width: 345px;
		margin-right: 0px;
		margin-top: 16px;
	}

	.customerRec-Cards:nth-child(1) {
		margin-top: 0;
	}

	.customerRec-Cards img {
		width: 345px;
	}
	

	.contact-Form {
		width: 345px;
		font-size: 14px;
	}
	
	.contact-Form p {
		padding-top: 20px;
		padding-bottom: 8px;
	}
	
	.contact-Form label {
		font-size: 14px;
	}
	.contact-Form input[type="text"],.contact-Form textarea {
		width: 345px;
		height: 36px;
		padding-left: 12px;
		font-size: 14px;
	}

	.contact-Form textarea {
		height: 100px;
	}
	
	.contact-Form-btn {
		padding: 8px 55px;
		margin-top: 28px;
		margin-bottom: 48px;
		font-size: 14px;
	}

	.footer-Link {
		flex-direction: column;
		padding-top: 24px;
		padding-bottom: 0;
	}
	.footer-Contact {
		font-size: 16px;
	}

	.footer-Contact :nth-child(1) {
		padding-bottom: 6px;
	}
	
	.footer-Link-Menu{
		display: none;
	}

	.footer-Link-Social{
		flex-basis: 24px;
		justify-content: flex-end;
		position: absolute;
		right: 24px;
	}

	.footer-Link-Social li{
		padding-right: 24px;
	}

	.footer-Copyright {
		flex-direction: column;
		padding-top: 16px;
		padding-bottom: 24px;
	}

	.footer-Contact img {
		width: 24px;
		height: 24px;
	}

	.footer-Copyright-List {
		flex-direction: column;
	}
	
	.footer-Copyright-List li {
		padding-top: 8px;
	}

}